/* h1{
    font-family: 'Nanum Pen Script', cursive;}

ul{
    font-family: 'Nanum Pen Script', cursive;}

ol{
        font-family: 'Nanum Pen Script', cursive;}

li{
            font-family: 'Nanum Pen Script', cursive;}

table{
    font-family: 'Nanum Pen Script', cursive;}
    
div{
    font-family: 'Black Han Sans', sans-serif;}

table{
    font-family: 'Nanum Pen Script', cursive;
}

p{
    font-family: 'Nanum Pen Script', cursive;
} */

*{
    font-family: 'Nanum Pen Script', cursive;
}